.image {
                margin: auto;
                align-content: center;
                border-radius: 20px;
       }

.OnePiece {
                text-align: center;

       }


.divText {
      display: flex;
      justify-content: center;
}